<section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="#" title="Home"><img alt="snooker background" src="https://i.pinimg.com/originals/65/4c/f2/654cf2d4c00d9c7e71735e549cd94679.png"></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
          Get Your Snooker Coach
        </h1>

        <p class="tagline">
          Train with the best professional players and become one of them.
        </p>
        <a class="btn2" href="#about">Get Started Now</a>
        <p class="text-muted mt-4">If you're logged in, check out <%= link_to "the app", app_path %>!</p>
      </div>
    </div>

  </section>