<footer class="page-footer font-small blue myFoot">

  
  <div class="footer-copyright text-center text-success py-3">© 2020 Copyright:
    <a href="https://github.com/javitocor"> JaviCorp</a>
  </div>

</footer>
